body {
    margin: 0;
    border: none;
    display: flex;
    background: url(./images/background\ homer.png);
    top: 60px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
